h1{
	color: red;
	font-size: 45px;
	font-style: italic;
}

ul li{
	color: #F0B1E6;
}

tr ~ tr{
	color: blue;
}

table{
	border: 1px solid black;
	width: 200px;
	margin: 25px;
	padding: 25px;
	background-color: yellow;
	height: 150px;
}

th, td{
	border: 1px;
}
footer{
	border-style: double;
	border-color: purple;
}

tr > th{
	color: #3FD3D1;
}
