body {
	margin: 15px;
	background-color: #ccffff;
}

h1{
	color: #cc0000;
	font-size: 45px;
	font-style: italic;
	border: solid;
	border-width: 20px;
	border-top-style: none;
	border-left-style: none;
	border-right-style: none;
}

h2 {
	color:#9966ff;
}

ul li{
	color: #ff66ff;
}

tr ~ tr{
	color: #666699;
}

main+footer {
	color:green;
}

tr > th{
	color: #3FD3D1;
	background-color:#ffffff; 
}

tr{
	color: #33cc33;
	font-family: serif;
}

table{
	width: 200px;
	margin: 25px;
	padding: 25px;
	background-color: yellow;
	height: 200px;
}

table, th, td {
	border: 1px solid black;
}

footer{
	border-style: double;
	border-color: #993300;
}


