@import url(https://fonts.googleapis.com/css?family=Dancing+Script);
@import url(https://fonts.googleapis.com/css?family=Chewy);
h1{
	color: white;
	background-image: url("http://thumbs.dreamstime.com/z/abstract-blue-music-background-star-vector-eps-34806669.jpg");
	height: 150px;
	font-family: 'Chewy';
	padding-top: 20px;
}

nav{
	width: 200px;
	outline: #cc0066 solid 1px; 
	float: left;
}
main{
	margin-left: 201px;
	outline: #cc0066 solid 1px;
	height: 1200px;
	background-image: url("http://www.musicgraphicsgalore.net/graphics/musicbg54.gif")
}
footer{
	color:#336600;
	background:#00cc99;
	clear: left;
	outline: #336600 solid 1px;
}
img{
	float: left;	
	margin-left: 20px;
	margin-right: 20px;
}
img.Classic{
	padding: 50px;
}
h2{
	clear: left;
	color: #00cc99;
	font-family: 'Dancing Script';
}
h2.red{
	color: #cc0066;
	background: #ffcccc;
}

h2.green{
	color: #336600;
	background: #00cc99;
}

h2+p{
	margin-left: 10px;
}




